.recent {
  width: 1200px;
  margin: 0 auto;
}

.wrap {
  padding: 0;
  border: 1px solid #222;
  border-radius: 8px;
  background: #d5e5f3;
}

.row {
  border-bottom: 1px solid #222;
}

.maintitle {
  font-weight: 700;
  font-size: 28px;
  margin: 30px 0;
}

.title {
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  border-right: 1px solid #ccc;
}

.title:last-child {
  border-right: none;
}

.body {
  border-bottom: 1px solid #e0e0e0;
}

.body:last-child {
  border-bottom: none;
}

.cell {
  height: 74px;
  display: flex;
  align-items: center;
  justify-content: center;

  border-right: 1px solid #ccc;
  background: #fff;
}
.name {
  cursor: pointer;
}
.cell:last-child {
  border-right: none;
}

.thumb {
  width: 70px;
  height: 70px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 8px;
}

.thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.cartBtn {
  background-color: #e8eef8;
  border: 1px solid #e8eef8;
  border-radius: 10px;
}